# Node modules
node_modules/

# Environment / Secret files (DO NOT PUSH TO GITHUB)
config.env
.env
.env.local

# Session store & authentication files
session/
auth_info_baileys/
creds.json

# System & Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
